In [1]:
import numpy as np

import pandas as pd

import seaborn as sns

import matplotlib.pyplot as plt

import eda_helper_functions

## 2. Read the training data

In [3]:
file_path = r"C:\work\flight-sagemaker-project\data\train.csv"
train = pd.read_csv(file_path)
train

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Jet Airways,2019-03-18,Banglore,New Delhi,14:05:00,08:15:00,1090,1.0,No Info,12284
1,Jet Airways,2019-06-06,Kolkata,Banglore,18:55:00,04:40:00,585,1.0,In-flight meal not included,7757
2,Jet Airways,2019-04-24,Banglore,Delhi,08:20:00,11:20:00,180,0.0,In-flight meal not included,4544
3,Air Asia,2019-04-27,Kolkata,Banglore,22:50:00,01:20:00,150,0.0,No Info,4409
4,Jet Airways,2019-06-03,Banglore,Delhi,18:55:00,22:00:00,185,0.0,No Info,8016
...,...,...,...,...,...,...,...,...,...,...
635,Spicejet,2019-04-12,Banglore,Delhi,09:30:00,12:20:00,170,0.0,No Info,4991
636,Jet Airways,2019-03-12,Banglore,New Delhi,09:45:00,14:25:00,280,1.0,No Info,12295
637,Spicejet,2019-04-03,Mumbai,Hyderabad,05:45:00,07:15:00,90,0.0,No check-in baggage included,1965
638,Jet Airways,2019-05-15,Banglore,Delhi,19:50:00,22:50:00,180,0.0,In-flight meal not included,4030
639,Jet Airways,2019-03-12,Banglore,New Delhi,20:35:00,10:45:00,850,1.0,In-flight meal not included,11087

In [4]:
train.dtypes

airline             object
date_of_journey     object
source              object
destination         object
dep_time            object
arrival_time        object
duration             int64
total_stops        float64
additional_info     object
price                int64
dtype: object

In [16]:
train = train.assign(**{
    col:pd.to_datetime(train.loc[:,col],dayfirst = True,format= "mixed")
    for col in ["date_of_journey","dep_time","arrival_time"]
})
train.dtypes

airline                    object
date_of_journey    datetime64[ns]
source                     object
destination                object
dep_time           datetime64[ns]
arrival_time       datetime64[ns]
duration                    int64
total_stops               float64
additional_info            object
price                       int64
dtype: object

In [17]:
train.dtypes

airline                    object
date_of_journey    datetime64[ns]
source                     object
destination                object
dep_time           datetime64[ns]
arrival_time       datetime64[ns]
duration                    int64
total_stops               float64
additional_info            object
price                       int64
dtype: object

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          640 non-null    object
 1   date_of_journey  640 non-null    datetime64[ns]
 2   source           640 non-null    object
 3   destination      640 non-null    object
 4   dep_time         640 non-null    datetime64[ns]
 5   arrival_time     640 non-null    datetime64[ns]
 6   duration         640 non-null    int64
 7   total_stops      640 non-null    float64
 8   additional_info  640 non-null    object
 9   price            640 non-null    int64
dtypes: datetime64[ns](3), float64(1), int64(2), object(4)
memory usage: 50.1+ KB

In [19]:
train

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Jet Airways,2019-03-18,Banglore,New Delhi,2024-09-16 14:05:00,2024-09-16 08:15:00,1090,1.0,No Info,12284
1,Jet Airways,2019-06-06,Kolkata,Banglore,2024-09-16 18:55:00,2024-09-16 04:40:00,585,1.0,In-flight meal not included,7757
2,Jet Airways,2019-04-24,Banglore,Delhi,2024-09-16 08:20:00,2024-09-16 11:20:00,180,0.0,In-flight meal not included,4544
3,Air Asia,2019-04-27,Kolkata,Banglore,2024-09-16 22:50:00,2024-09-16 01:20:00,150,0.0,No Info,4409
4,Jet Airways,2019-06-03,Banglore,Delhi,2024-09-16 18:55:00,2024-09-16 22:00:00,185,0.0,No Info,8016
...,...,...,...,...,...,...,...,...,...,...
635,Spicejet,2019-04-12,Banglore,Delhi,2024-09-16 09:30:00,2024-09-16 12:20:00,170,0.0,No Info,4991
636,Jet Airways,2019-03-12,Banglore,New Delhi,2024-09-16 09:45:00,2024-09-16 14:25:00,280,1.0,No Info,12295
637,Spicejet,2019-04-03,Mumbai,Hyderabad,2024-09-16 05:45:00,2024-09-16 07:15:00,90,0.0,No check-in baggage included,1965
638,Jet Airways,2019-05-15,Banglore,Delhi,2024-09-16 19:50:00,2024-09-16 22:50:00,180,0.0,In-flight meal not included,4030
639,Jet Airways,2019-03-12,Banglore,New Delhi,2024-09-16 20:35:00,2024-09-16 10:45:00,850,1.0,In-flight meal not included,11087

## 3. High-level Summary of Data

In [20]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          640 non-null    object
 1   date_of_journey  640 non-null    datetime64[ns]
 2   source           640 non-null    object
 3   destination      640 non-null    object
 4   dep_time         640 non-null    datetime64[ns]
 5   arrival_time     640 non-null    datetime64[ns]
 6   duration         640 non-null    int64
 7   total_stops      640 non-null    float64
 8   additional_info  640 non-null    object
 9   price            640 non-null    int64
dtypes: datetime64[ns](3), float64(1), int64(2), object(4)
memory usage: 50.1+ KB

In [21]:
train.describe(include= "number")

          duration  total_stops         price
count   640.000000   640.000000    640.000000
mean    615.648438     0.793750   9081.328125
std     505.457007     0.683788   4739.586745
min      75.000000     0.000000   1965.000000
25%     170.000000     0.000000   5403.000000
50%     472.500000     1.000000   8366.000000
75%     910.000000     1.000000  12678.000000
max    2315.000000     3.000000  62427.000000

In [24]:
(
    train
    .assign(total_stops= train["total_stops"].astype(object))
    .describe(include="O")
)

            airline source destination  total_stops additional_info
count           640    640         640        640.0             640
unique            8      5           6          4.0               5
top     Jet Airways  Delhi      Cochin          1.0         No Info
freq            231    260         260        323.0             503

## 4.High-level analysis of Missing Values

In [26]:

eda_helper_functions.missing_info(train)

Empty DataFrame
Columns: [count, percentage]
Index: []